<mat-toolbar fxLayout="row" color="primary">
  <button mat-icon-button (click)="clickMenu()"><mat-icon>menu</mat-icon></button>
  <span fxFlex [style.cursor]="'pointer'" [routerLink]="['/home']">Catalogo Ricette</span>
  <span class="spacer"></span>
  <button mat-button fxHide.xs [disableRipple] [routerLink]="['/home']">Home</button>
  <button mat-button fxHide.xs [disableRipple] [disabled]>Ingredienti</button>
  <button mat-button fxHide.xs [disableRipple] [routerLink]="['/dishTypes']">Categorie</button>
  <button mat-button fxHide.xs [disableRipple] [disabled]>Libri</button>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <ng-container>
      <button mat-button [disableRipple] [routerLink]="['/home']">Home</button>
      <mat-divider></mat-divider>
      <button mat-button [disableRipple] [disabled]>Ingredienti</button>
      <mat-divider></mat-divider>
      <button mat-button [disableRipple] [routerLink]="['/dishTypes']">Categorie</button>
      <mat-divider></mat-divider>
      <button mat-button [disableRipple] [disabled]>Libri</button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
