<h2 mat-dialog-title i18n>{{action === 'edit' ? "Edit" : "Create"}} book</h2>

<mat-dialog-content>
  <form #bookForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label i18n>Name</mat-label>
      <input required name="title" matInput placeholder="Es. Sale & Pepe" [(ngModel)]="model.title" #name="ngModel">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close i18n>CANCEL</button>
  <button mat-flat-button [mat-dialog-close]="model" color="primary" [disabled]="!bookForm.form.valid" i18n>
    {{action === 'edit' ? "SAVE" : "CREATE"}}
  </button>
</mat-dialog-actions>
