<h2 mat-dialog-title>{{action === 'edit' ? "Modifica" : "Aggiungi"}} categoria</h2>

<mat-dialog-content>
  <form #dtForm="ngForm" class="dishtype-form">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input required name="name" matInput placeholder="Es. Antipasti" [(ngModel)]="model.name" #name="ngModel">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>ANNULLA</button>
  <button mat-flat-button [mat-dialog-close]="model" color="primary" [disabled]="!dtForm.form.valid">
    {{action === 'edit' ? "SALVA" : "AGGIUNGI"}}
  </button>
</mat-dialog-actions>
