<rc-spinner [isRunning]="requestRunning"></rc-spinner>

<h1 class="page-heading">Categorie</h1>
<div class="card">
  <div class="card-block">
  <table class="table table-sm vertical-align">
    <thead>
    <tr>
      <th></th>
      <th class="w-25">Azioni</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="dishTypes?.length > 0">
      <td>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (change)="toggleAll($event)" [checked]="numSelected === dishTypes?.length">
        </label>
      </td>
      <td>
        <button *ngIf="numSelected > 0" type="button" class="btn btn-danger">
          <i class="fa fa-trash-o fa-sm" aria-hidden="true"></i> Elimina selezionate
        </button>
      </td>
      <td>
        <label>
          <input id="nameFilter" class="form-control" type="text" name="nameFilter" placeholder="Filtra per nome">
        </label>
      </td>
    </tr>
    <tr *ngFor="let dt of dishTypes">
      <td>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [(ngModel)]="dt.selected" (change)="$event.target.checked ? numSelected = numSelected + 1 : numSelected = numSelected - 1">
        </label>
      </td>
      <td>
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-pencil-square-o fa-sm" aria-hidden="true"></i> Modifica
        </button>
        <button type="button" class="btn btn-danger">
          <i class="fa fa-trash-o fa-sm" aria-hidden="true"></i> Elimina
        </button>
      </td>
      <td>{{dt.name}}</td>
    </tr>
  </tbody>
  </table>
  </div>
</div>