<form #newDTForm="ngForm">
  <div class="form-group">
    <label for="newDishTypeName">Nome categoria</label>
    <input [(ngModel)]="dishType.name" name="dishTypeName" type="text" class="form-control" id="newDishTypeName" placeholder="Pasta, Riso, Antipasti..."
           (keyup.esc)="cancelClicked()">
  </div>
  <div class="pull-right">
    <button *ngIf="isEdit" type="submit" class="btn btn-primary" (click)="saveDishType()" [class.disabled]="dishType?.name?.length < 1">
      <i aria-hidden="true"></i>Modifica
    </button>
    <button *ngIf="!isEdit" type="submit" class="btn btn-primary" (click)="saveDishType()" [class.disabled]="dishType?.name?.length < 1">
      <i aria-hidden="true"></i>Aggiungi
    </button>
    <button class="btn btn-secondary" (click)="cancelClicked()">
      <i aria-hidden="true"></i>Annulla
    </button>
  </div>
</form>
