<form>
  <div class="form-group">
    <label for="newDishTypeName">Nome categoria</label>
    <input #dishTypeName rcAutofocus type="text" class="form-control" id="newDishTypeName" placeholder="Pasta, Riso, Antipasti..."
           (keyup.enter)="addDishType()" (keyup.esc)="cancelClicked()">
  </div>
  <div class="pull-right">
    <button type="submit" class="btn btn-primary">
      <i aria-hidden="true"></i>Aggiungi
    </button>
    <button class="btn btn-secondary" (click)="cancelClicked()">
      <i aria-hidden="true"></i>Annulla
    </button>
  </div>
</form>
