/* You can add global styles to this file, and also import other style files */

$sizes: (
  25: 25%,
  50: 50%,
  70: 70%,
  75: 75%,
  100: 100%
) !default;


// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";

.page-heading {
  padding: 2rem 1.5rem;
  text-align: center;
}

.full-width-table {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
