/* You can add global styles to this file, and also import other style files */

$sizes: (
  25: 25%,
  50: 50%,
  70: 70%,
  75: 75%,
  100: 100%
) !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.page-heading {
  padding: 2rem 1.5rem;
  text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
