<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Ricette</h4>
      <div class="card-block">
        <p class="card-text">Aggiungi, modifica e cerca le tue ricette</p>
        <a href="#" class="btn btn-primary">Vai</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Libri</h4>
      <div class="card-block">
        <p class="card-text">Gestisci e crea nuovi libri e riviste</p>
        <a href="#" class="btn btn-primary">Vai</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Categorie</h4>
      <div class="card-block">
        <p class="card-text">Aggiungi e modifica le tue categorie</p>
        <a href="#" class="btn btn-primary">Vai</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Ingredienti</h4>
      <div class="card-block">
        <p class="card-text">Crea, modifica, elimina i tuoi ingredienti</p>
        <a href="#" class="btn btn-primary">Vai</a>
      </div>
    </div>
  </div>
</div>