<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Ricette</h4>
      <div class="card-block">
        <p class="card-text">Aggiungi, modifica e cerca le tue ricette</p>
        <button class="btn btn-primary">Vai</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Libri</h4>
      <div class="card-block">
        <p class="card-text">Gestisci e crea nuovi libri e riviste</p>
        <button class="btn btn-primary">Vai</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Categorie</h4>
      <div class="card-block">
        <p class="card-text">Aggiungi e modifica le tue categorie</p>
        <button class="btn btn-primary" (click)="goToDishTypes()">Vai</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <h4 class="card-header">Ingredienti</h4>
      <div class="card-block">
        <p class="card-text">Crea, modifica, elimina i tuoi ingredienti</p>
        <button class="btn btn-primary">Vai</button>
      </div>
    </div>
  </div>
</div>