<div class="grid-container">
  <h1 class="mat-h1" i18n>Dashboard</h1>
  <mat-grid-list cols="{{(cardLayout | async)?.columns}}" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of countCards" [colspan]="(cardLayout | async)?.countCard.cols"
      [rowspan]="(cardLayout | async)?.countCard.rows">
      <rc-dashboard-card title="{{card.title}}">
        <div>
          <span class="mat-display-3 mr-2">{{card.total || 0}}</span>
          <span class="text-muted">{{card.subtext}}</span>
        </div>
      </rc-dashboard-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>